<%= form_for(@screening) do |f| %>
  <% if @screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% @screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :film_id %><br>
    <!--<%= f.number_field :film_id %>-->
	<%= f.collection_select :film_id, Film.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :screen_id %><br>
	<%= f.collection_select :screen_id, Screen.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>