<p id="notice"><%= notice %></p>

<h1>Listing Screenings</h1>

<table border = "1" cellpadding = "10">
  <thead>
    <tr>
      <th>Film</th>
      <th>Screen</th>
      <th>Date</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screenings.each do |screening| %>
      <tr>
        <td><%= screening.film.title %></td>
        <td><%= screening.screen.name %></td>
        <td><%= screening.date %></td>
        <td><%= screening.start_time %></td>
        <td><%= link_to 'Show', screening %></td>
        <td><%= link_to 'Edit', edit_screening_path(screening) %></td>
        <td><%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screening', new_screening_path %>
