<p id="notice"><%= notice %></p>

<h1> Screen <%= @screen.name %></h1>
<hr>

<p>
  <strong>Screen size:</strong>
  <%= @screen.screen_size %>
</p>

<p>
	<br></br>
	<h2>Screenings:</h2>
	
	<table border = "1" cellpadding = "10">
		<thead>
			<tr>
				<th>Film</th>
				<th>Date</th>
				<th>Start time</th>
			</tr>
		</thead>
		
		<tbody>
			<% @screen.screenings.each do|screening|%>
				<tr>
					<td><%= screening.film.title  %></td>
					<td><%= screening.date  %></td>
					<td><%= screening.start_time  %></td>
				</tr>
			<%end%>	
		</tbody>
	</table>
</p>

<p>
	<br></br>
	<h2>Seats:</h2>
	
	<table border = "1" cellpadding = "10">
		<thead>
			<tr>
				<th>Seat Number</th>
				<th>Row</th>
			</tr>
		</thead>
		
		<tbody>
			<% @screen.seats.each do|seat|%>
				<tr>
					<td><%= seat.seat_number  %></td>
					<td><%= seat.row  %></td>
				</tr>
			<%end%>	
		</tbody>
	</table>
</p>

<br></br>
	<h2>Create a new Seat:</h2>
<p>
	<%= form_for([@screen, Seat.new]) do |f| %>
	  <div class="field">
		<%= f.label :seat_number %><br>
		<%= f.number_field :seat_number %>
	  </div>
	  <div class="field">
		<%= f.label :row %><br>
		<%= f.text_field :row %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
	<% end %>
</p>

<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>