<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
	<%= f.label :paymethod %><br />
	<%= f.select :paymethod, ["Debit Card", "Credit Card", "Paypal"] %>
  </div>
  
  <%= f.hidden_field :screening_id, :value => session[:screening_id] %>
  
  <% connection = ActiveRecord::Base.connection %>
	<% results = connection.execute(
	"Select * from seat_bookings where 
		seat_bookings.cart_id = #{session[:cart_id]}") %>
	
  <% @total = 0 %>	
  <% results.each do |r| %>
	<% @total = @total + r['price'] %>
  <% end %>
  
  <%= f.hidden_field :total, :value => @total %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
