<p id="notice"><%= notice %></p>

<h1> <%= @film.title %></h1>

<hr>

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Run time:</strong>
  <%= @film.run_time %>
  minutes
</p>

<p>
  <strong>Genre:</strong>
  <%= @film.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @film.rating %>
</p>

<p>
  <%=image_tag(@film.image, :size => "100x100")%>
</p>
<p>
	<br></br>
	<h2>Screenings:</h2>
	
	<table border = "1" cellpadding = "10">
		<thead>
			<tr>
				<th>Screen</th>
				<th>Date</th>
				<th>Start time</th>
			</tr>
		</thead>
		
		<tbody>
			<% @film.screenings.each do|screening|%>
				<tr>
					<td><%= screening.screen.name  %></td>
					<td><%= screening.date  %></td>
					<td><%= screening.start_time  %></td>
				</tr>
			<%end%>	
		</tbody>
	</table>
</p>

<br></br>
	<h2>Create a new screening:</h2>
<p>
	<%= form_for([@film, Screening.new]) do |f| %>

	  <div class="field">
		<%= f.label :screen_id %><br>
		<%= f.collection_select :screen_id, Screen.all, :id, :name %>
	  </div>
	  <div class="field">
		<%= f.label :date %><br>
		<%= f.date_field :date %>
	  </div>
	  <div class="field">
		<%= f.label :start_time %><br>
		<%= f.text_field :start_time %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
	<% end %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>