<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Cinema</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	
	<div id = "banner">
		<%= image_tag("cinema.jpg", :size => "100x50")%>
		<%= "Cineworld"%>
	</div>
	
	<div id = "nav">
		<ul>
			<li><%=link_to "Home", root_path%></li>
			<% if !signed_in? %>
				<li><%= link_to "Sign In", login_path%></li>
			<%else%>
				<li>Signed in as <%=@current_person.first_name%></li>
				<li><%=link_to "Sign Out", logout_path%></li>
			<%end%>
		
			<li><%=link_to "Films", films_path%></li>
			<li><%=link_to "Screenings", screenings_path%></li>
			<li><%=link_to "Create account", new_person_path%></li>
			<li><%=mail_to "liam.hayes@mydit.ie", "Contact us"%></li>
			
			<% if !adminsigned_in? %>
				<li><%= link_to "Admin Sign In", adminlogin_path%></li>
			<%else%>
				<li>Signed in as admin: <%=@admincurrent_user.first_name%></li>
				<li><%=link_to "Sign Out", adminlogout_path%></li>
			<%end%>
			
			<li><%=link_to "Showing today", showing_today_path%></li>
			<li><%= render '/films/search' %></li>
		</ul>
	</div>
			
<%= yield %>



</body>
</html>